.container {
  display: flex;
  gap: 38px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
}
.link {
  font-size: 16px;
  padding: 0px 0px 4px 0px;
  transition: opacity 0.3s ease;
}
.link:hover {
  opacity: 0.5;
}
.link.active {
  border-bottom: 1px solid #000000;
}
@media screen and (min-width: 768px) {
  .link {
    font-size: 12px;
  }
}
