.searchWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 329px;
}

.searchInput {
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    padding: 12px;
    width: 100%;
    min-height: 46px;

    transition: background-color 0.3s ease;
}

.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.searchButton {
    border-radius: 8px;
    padding: 12px 16px;
    width: 100%;
    height: 46px;
    color: white;
    border: none;
    background-color: #9b6c43;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.searchInput:hover,
.searchInput:focus {
    border-color: #9b6c43;
    outline: none;
    background: #ffffff;
    box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.2);
}

.searchButton:hover {
    background-color: #6d554b;
    outline: none;
}

.searchButton:focus {
    outline: none;
    box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #ffffff;
}

.errorBorder {
    border-color: red;
}

.errorText {
    color: red;
    font-size: 0.875rem;
    margin-top: 4px;
}

@media screen and (min-width: 768px) {
    .searchWrapper {
        flex-direction: row;
        gap: 24px;
        justify-content: left;
        max-width: none;
    }

    .searchInput {
        width: 471px;
    }

    .inputGroup {
        width: 471px;
    }

    .searchButton {
        width: 176px;
    }
}

@media screen and (min-width: 1440px) {
    .searchWrapper {
        gap: 12px;
    }

    .searchInput {
        width: 459px;
    }

    .searchButton {
        width: 190px;
    }
}