.container {
    display: flex;
    align-items: center;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #9b6c43;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    flex-shrink: 0;
}

.username {
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    margin-left: 8px;
}