.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.container {
    width: 100%;
    max-width: 362px;
    height: 316px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 32px;
    border: 1px solid #555;
    background-color: #faf3e0;
    padding: 56px 24px 32px 24px;
}

.btnx {
    position: absolute;
    height: 28px;
    border-radius: 8px;
    padding: 0px 0px 4px 0px;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    background: none;
    cursor: pointer;
    stroke: #000000;
}

.h2 {
    color: #000000;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}

.p {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;
    text-align: center;
    margin-bottom: 20px;
}

.btncontainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btnlogout {
    width: 100%;
    max-width: 314px;
    height: 54px;

    background-color: #c80000;
    border: none;
    padding: 16px auto;
    border-radius: 8px;
    cursor: pointer;

    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    transition: background-color 0.3s ease;
}

.btnlogout:hover,
.btnlogout:focus {
    background-color: #700a0a;
}

.btncancel {
    width: 100%;
    max-width: 314px;
    height: 54px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 16px auto;
    cursor: pointer;

    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    outline: none;
    transition: background-color 0.3s ease;
}

.btncancel:hover,
.btncancel:focus {
    border: 1px solid #d9d9d9;
    background: #d9d9d9;
}

/* 793 - 1440*/
@media screen and (min-width: 768px) {
    .container {
        max-width: none;
        width: 420px;
        height: 236px;
        padding: 56px 32px 32px 32px;
    }

    .btnx {
        right: 32px;
    }

    .btncontainer {
        flex-direction: row-reverse;
        gap: 27px;
    }

    .btnlogout {
        max-width: none;
        width: 164.5px;
        height: 44px;
        padding: 12px 16px;
        font-size: 16px;
    }

    .btncancel {
        max-width: none;
        width: 164.5px;
        height: 44px;
        padding: 12px 16px;
        font-size: 16px;
    }
}