.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #fff;
    padding: 16px 12px;
    border-radius: 8px;
    width: 90%;
    max-width: 520px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    outline: none;

    display: flex;
    flex-direction: column;
}

.modalHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 33px;
}

.closeIcon {
    stroke: #000;
    width: 24px;
    height: 24px;
}

.filtersCloseBtn {
    background-color: transparent;
    border: none;
    color: #000;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0;
    text-decoration: none;
}

.filtersText {
    font-weight: 600;
    font-size: 12px;
    color: #000;
}