.container {
  position: relative;
  height: 443px;
  overflow: hidden;
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 32px);
  background-color: #413f3f;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .container {
    margin-left: -32px;
    margin-right: -32px;
    width: calc(100% + 64px);
  }
}
@media screen and (min-width: 1440px) {
  .container {
    margin-left: -107px;
    margin-right: -107px;
    width: calc(100% + 214px);
  }
}
.backgroundImage {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30% center;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .backgroundImage {
    object-position: 85% center;
  }
}
@media screen and (min-width: 1440px) {
  .backgroundImage {
    object-position: 92% 25%;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
  z-index: 1;
  pointer-events: none;
}
.hero {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 128px 108px;
  }
}

.heroTitle {
  color: white;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 24px;
  text-align: left;
  max-width: 100%;
  word-break: break-word;
}

@media screen and (min-width: 768px) {
  .heroTitle {
    font-size: 48px;
    max-width: 493px;
    line-height: 110%;
  }
}