.page {
  padding: 16px;
  max-width: 393px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page {
    max-width: 768px;
    padding: 24px;
  }
}
@media (min-width: 1224px) {
  .page {
    max-width: 1224px;
    padding: 32px;
    display: flex;
    gap: 24px;
    align-items: flex-start;
  }
}
