.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal {
    background: #3d2218;
    width: 100%;
    min-height: 288px;
    padding: 0;
    box-sizing: border-box;
}

.modalContent {
    width: 100%;
    max-width: 393px;
    margin: 0 auto;
    padding: 12px 16px 40px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    color: #ffffff;
    padding-left: 4px;
}

.modalHeader {
    display: flex;
    align-items: center;
}

.closeBtn {
    margin-left: auto;
    border: none;
    background: none;
}

.close {
    width: 32px;
    height: 32px;
}

.link {
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-top: 36px;
}

.registerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 361px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    padding: 12px 16px;
    width: 361px;
    height: 44px;
    background: #9b6c43;
    color: #ffffff;
}

.registerButton:hover,
.registerButton:focus {
    box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #ffffff;
}

.userSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg {
    width: 32px;
    height: 30px;
}

@media screen and (min-width: 768px) {
    .backdrop {
        display: none;
    }
}