.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout {
    flex: 1;
    width: 100%;
    max-width: 393px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .layout {
        max-width: none;
        width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1440px) {
    .layout {
        width: 1440px;
        padding: 0 107px;
    }
}