.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin-bottom: 24px;
}

/* Mobile */

@media screen and (max-width: 767px) {
  .list > li {
    width: 100%;
    max-width: 361px;
  }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .list > li {
    flex: 0 1 calc((100% - 24px) / 2);
    /* 2 колонки, 1 gap */
    max-width: 336px;
  }
}

/* Desktop */

@media screen and (min-width: 1440px) {
  .list > li {
    flex: 0 1 calc((100% - 3 * 24px) / 4);
    /* 4 колонки, 3 gap */
    max-width: 288px;
  }
}
