.section {
    padding-bottom: 48px;
}

.filtersAndCountWrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 16px;
}

.recipeCount {
    font-weight: 600;
    font-size: 18px;
    color: #000;
}

.pageTitle {
    font-weight: 600;
    font-size: 32px;
    color: #000;
    margin-bottom: 16px;
    margin-top: 48px;
}

@media screen and (min-width: 768px) {
    .pageTitle {
        font-size: 40px;
    }
}