.filtersContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
}

.filtersLinkBtn {
    background-color: transparent;
    border: none;
    color: #000;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0;
    text-decoration: none;
}

.filterIcon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: #000;
}

.filterText {
    font-weight: 600;
    font-size: 12px;
    color: #000;
}

.resetLinkBtn {
    background-color: transparent;
    border: none;
    color: #000;
    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
    margin-top: 24px;
}

.resetLinkBtnUnderlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.resetLinkBtn:disabled {
    cursor: pointer;
    border-bottom: none;
    padding-bottom: 0;
}

.resetLinkBtn:disabled::after {
    display: none;
}

.selectsWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 1440px) {
    .filtersContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }

    .selectsWrapper {
        display: flex;
        gap: 24px;
        flex-direction: row;
    }

    .resetLinkBtn {
        background-color: transparent;
        border: none;
        color: #000;
        font-family: inherit;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        padding: 0;
        margin-right: 24px;
        margin-top: 0;
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        position: relative;
    }
}