.favoriteButtonOff {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 8px;
        border: 1px solid #000;
        border-radius: 8px;
        background: transparent;
        cursor: pointer;
}

.favoriteButtonOn {
    border: 1px solid #9B6C43;
    background-color: #9B6C43;
}

.on {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.off {
    fill: transparent;
    stroke: #000000;
}